<header class="navbar navbar-inverse normal" role="banner">
  <div class="container">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_url, class: 'navbar-brand' do %>
          product<b>STORY</b>
        <% end %>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li><%= link_to "Projects", features_path %></li>
          <li><%= link_to "Personas", learn_path %></li>
          <li><%= link_to "Research", support_path %></li>
          <li><%= link_to "Team", pricing_path %></li>
          <!-- <li><a href="index.html">Login</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right visible-md visible-lg">
          <li>
              <a href="signup.html" class="button">
                chrismikelson@gmail.com
              </a>
          </li>
        </ul>
    </nav>
  </div>
</header>