<header id="app-nav" class="navbar navbar-inverse normal" role="banner">
  <div class="container-fluid">
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Projects", projects_path %></li>
          <li><%= link_to "Personas", personas_path %></li>
          <li><%= link_to "Team", pricing_path %></li>
          <li><%= link_to "Learn", "#" %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right visible-md visible-lg">
          <% if user_signed_in? %>
            <li class="upgrade">
              <a href="#">upgrade now</a>
            </li>
            <li class="icon">
              <a href="#"><i class="fa fa-heart"></i></a>
            </li>
            <li>
                <%= link_to edit_user_registration_path, class: ' dropdown-toggle', :data => {toggle: "dropdown"} do %>
                  <%= current_user.email %> <span class="caret"></span>
                <% end %>
                <ul class="dropdown-menu normal-menu">
                  <li><%= link_to 'Account Settings', edit_user_registration_path %></li>
                  <li><%= link_to 'My Projects', projects_path %></li>
                  <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                </ul>
              </li>
          <% else %>
            <li>
                <a href="signup.html" class="button">Sign up free</a>
            </li>
          <% end %>
        </ul>
    </nav>
  </div>
</header>