<%= render "shared/home_nav" %>

<div id="hero">
  <div class="container">
    <h1 class="hero-text animated fadeInDown">
      Design stories<br />
      that do not suck
    </h1>
    <p class="sub-text animated fadeInDown">
      Craft proven user experience statements that inform your design and developement process.
    </p>
    <div class="cta animated fadeInDown">
      <%= link_to "See the tour", features_path, class: "button-outline" %>
      <%= link_to "Sign up free", new_user_registration_path, class: "button" %>
    </div>
    <div class="img ux-story-group">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <!-- <img class="media-object" src="..." alt="..."> -->
            <%= image_tag "avatar.jpg", class: 'media-object img-circle', size: "44" %>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">User Persona:</h4>
          <h3>When <span id="situation" class="ux-story-item">situation</span>,<br/>I want <span id="motivation" class="ux-story-item">motivation</span><br/>so I can <span id="outcome" class="ux-story-item">expected outcome</span>.</h3>
        </div>
      </div>
      <!-- <label>Reaction Randy:</label>
      <h2>When <span class="ux-story-item">situation</span>,<br/>I want to <span class="ux-story-item">action</span><br/>so I can <span class="ux-story-item">expected outcome</span>.</h2> -->
    </div>
  </div>
</div>

<div id="features">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h2>Need an easy way to define an experience?</h2>
        <p>User stories work great for hardware and software projects alike.</p>
      </div>
    </div>
    <div class="row feature">
      <div class="col-md-6 info">
        <h4>You don't need to have great technical experience to use your product.</h4>
        <p>
          Whether you want to fill this paragraph with some text like I'm doing right now, this place
          is perfect to describe some features or anything you want - React has a complete solution for you.
        </p>
      </div>
      <div class="col-md-6 image">
        <%= image_tag "feature1.png", class: "img-responsive", alt: "feature1" %>
      </div>
    </div>
  </div>    
</div>

  <!-- <div id="testimonials">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h3>Trusted by design teams around the world:</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="testimonial pull-right">
            <div class="quote">
              I am just quoting some stuff but I am seriously happy about this product. Has a lot of powerful
              features and is so easy to set up, I could stay customizing it day and night, it's just so much fun!
              <div class="arrow-down">
                        <div class="arrow"></div>
                        <div class="arrow-border"></div>
                    </div>
            </div>
            <div class="author">
              <img src="images/testimonials/testimonial1.jpg" class="pic" alt="testimonial1" />
              <div class="name">John McClane</div>
              <div class="company">Microsoft</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="testimonial">
            <div class="quote">
              This thing is one of those tools that everybody should be using. I really like it and with this ease to use, you can kickstart your projects and apps and just focus on your business!
              <div class="arrow-down">
                        <div class="arrow"></div>
                        <div class="arrow-border"></div>
                    </div>
            </div>
            <div class="author">
              <img src="images/testimonials/testimonial2.jpg" class="pic" alt="testimonial2" />
              <div class="name">Karen Jones</div>
              <div class="company">Pixar Co.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div id="cta">
    <p>
      Join some of the best designers on the planet. 
    </p>
    <%= link_to "Start defining experiences now", new_user_registration_path %>

    <p class="text-center">
      <br/>
      Forever free. No credit card required.
    </p>
  </div>

  <div id="clients">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Trusted by design teams around the world</h3>
          <p>
            These are some of our customers who have helped us by using our product.
          </p>
          <div class="logos">
            <img src="images/logos/google.png">
            <img src="images/logos/facebook.png">
            <img src="images/logos/apple.png">
            <img src="images/logos/stripe.png">
            <img src="images/logos/yahoo.png">
          </div>
        </div>
      </div>
    </div>
  </div>

<%= render "shared/footer_white" %>