<!-- Modal -->
          <div class="modal fade" id="feature_<%= feature.id %>_story" tabindex="-1" role="dialog" aria-labelledby="feature_<%= feature.id %>_story">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <%= form_for feature.stories.build do |f| %>
                <div class="modal-header">
                  <label class="label-text">Feature</label>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">close</i></button>
                  <h4 class="modal-title" id="myModalLabel"><%= feature.name %><i class="material-icons modal-section-caret">keyboard_arrow_down</i></h4>
                </div>
                
                <div class="modal-body">
                  <h3>
                    <b>When</b> <%= text_field_tag :situation, "", id: "new_situation", class: "form-story new_situation", placeholder: "situation" %>,
                    <b>I want</b> <%= text_field_tag :action, "", id: "new_action", class: "form-story new_action", placeholder: "action" %>
                    <b>so I can</b> <%= text_field_tag :outcome, "", id: "new_outcome", class: "form-story new_outcome", placeholder: "expected outcome" %>
                  </h3> 
                  <br/> 
                  <%= f.hidden_field :feature_id, value: feature.id %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                </div>
                
                <div class="modal-footer">
                  <div class="row">
                    <div class="col-sm-7 text-left">
                      <div id="add_persona_to_story">
                        <i class="fa fa-plus"></i>
                      </div>
                      <label class="label-text">Select Personas</label>
                    </div>
                    <div class="col-sm-5 text-right">
                      <div class="checkbox">
                        <label class="label-text">
                          <input type="checkbox"> Create Another
                        </label>
                      </div>
                      <%= f.submit "Save Story", class: "btn btn-primary pull-right" %>
                    </div>
                  </div>
                </div>

                <% end %>
              </div>
            </div>
          </div>