<div class="container-fluid secondary-nav">
  <div class="row">
    <div class="col-sm-6 text-left">
      <h1 class="animated fadeIn">
        My Projects&nbsp;
      </h1>
    </div>
    <div class="col-sm-6 text-right">
      <div class="btn-group">
        <%= link_to "Start a New Project", new_project_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid projects">
  <div class="row">
    <% @projects.each do |project| %>
      <%= link_to project_path(project) do %>
        <div class="col-sm-4">
          <div class="panel">
            <div class="panel-heading">
              <h3 class="panel-title"><%= project.name ? truncate(project.name, length: 30) : "Project ##{project.id}" %>
                <i class="material-icons feature-section-more dropdown-toggle pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz</i>
                <br/>
                <small>Last updated <%= time_ago_in_words(project.updated_at).gsub('about','') %> ago</small>
              </h3>
              <p class="padding-15-15">
                <%= project.stories.size %> 
                <%= project.stories.size == 1 ? "story" : "stories" %>,
                <%= project.persona_ids.uniq.size %> 
                <%= project.persona_ids.uniq.size == 1 ? "persona" : "personas" %>
              </p>
            </div>
            <div class="panel-body">
              <% if project.users.any? %>
                <%= render partial: 'projects/index_partials/personas', locals: { project: project } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- <table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 -->
