<div class="container-fluid secondary-nav">
    <div class="row">
      <div class="col-sm-6 text-left">
        <span class="back-button animated fadeInRight">
          <%= link_to projects_path do %>
            <%= material_icon.arrow_back.md_36 %>
          <% end %>
        </span>
        <h1 class="animated fadeIn">
          <%= @project.name %>&nbsp;
        </h1>
      </div>
      <div class="col-sm-6 text-right">
        <%= image_tag "clint.png", class: 'img-circle animated fadeInRight', size: "44" %>
        <div id="add_team_member" class="animated zoomIn">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid page">
  <div class="row">
    <div class="col-sm-12 sidebar">

      <div class="row">
        <div class="col-sm-12 text-right">
          <div class="btn-group">
            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#export_project">
              Export
            </button>
            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#new_feature">
              <i class="fa fa-plus"></i> &nbsp;New Section
            </button>
          </div>
          <br/><br/><br/>
        </div>
      </div>

      <% if @project.features.any? %>
        <% @project.features.each do |feature| %>

        <div class="feature-section-wrapper">
          <div class="btn-group">
            <i class="material-icons feature-section-add" data-toggle="modal" data-target="#feature_<%= feature.id %>_story">add</i>
            <i class="material-icons feature-section-more dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz</i>
            <ul class="dropdown-menu">
              <li><a href="#">Delete</a></li>
              <li><a href="#" data-toggle="modal" data-target="#export_feature_<%= feature.id %>">Export</a></li>
              <li><a href="#">Share</a></li>
            </ul>
          </div>
          
          <div class="feature-section" data-toggle="collapse" data-target="#feature_<%= feature.id %>" aria-expanded="false" aria-controls="feature_<%= feature.id %>">
            <i class="material-icons feature-section-caret">keyboard_arrow_up</i>
            <h6>
              <%= feature.name %>
            </h6>
            <hr>
          </div>
          
          <div class="collapse in" id="feature_<%= feature.id %>">
            <%= feature.problem_statement %>
            <% if feature.stories.any? %>
              <% feature.stories.each do |story| %>
                <ul class="list-group">
                  <li class="list-group-item">
                    <p>
                      <%= link_to story_path(story) do %>
                        <% if story.payload.present? %>
                          <%= story.payload.html_safe %>
                        <% else %>
                          <b>When</b> situation<b>, I want</b> action <b>so that</b> expected outcome.
                        <% end %>
                      <% end %>
                    </p>
                  </li>
                </ul>
                
              <% end %>
            <% else %>
              <%= render partial: "projects/show_partials/empty_stories", locals: { feature: feature } %>
            <% end %>
            
          </div>

        </div>

        <%= render partial: "new_feature_story", locals: { feature: feature } %>

<<<<<<< HEAD
        <%= render partial: "new_feature", locals: { feature: feature } %>
        <%= render partial: "projects/show_partials/export_feature_modal", locals: { feature: feature } %>
=======
>>>>>>> personify-2
        <% end %>
      <% end %>
      <br/>
      <br/>
      <br/>
      
<<<<<<< HEAD
      <%= render partial: "projects/show_partials/export_project_modal", locals: { project: @project } %>
=======
      <%= render partial: "new_feature" %>
>>>>>>> personify-2
      
    </div>
  </div>
</div>
