<div class="container-fluid secondary-nav">
    <div class="row">
      <div class="col-sm-6 text-left">
        <span class="back-button animated fadeInRight">
          <%= link_to projects_path do %>
            <%= material_icon.arrow_back.md_36 %>
          <% end %>
        </span>
        <h1 class="animated fadeIn">
          <%= @project.name %>&nbsp;
        </h1>
      </div>
      <div class="col-sm-6 text-right">
        <%= image_tag "clint.png", class: 'img-circle animated fadeInRight', size: "44" %>
        <div id="add_team_member" class="animated zoomIn">
          <i class="fa fa-plus"></i>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid page">
  <div class="row">
    <div class="col-sm-12 sidebar">

      <div class="row">
        <div class="col-sm-12 text-right">
          <div class="btn-group">
            <button class="btn btn-default">
              Share 
            </button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#new_feature">
              <i class="fa fa-plus"></i> &nbsp;New Section
            </button>
          </div>
          <br/><br/><br/>
        </div>
      </div>

      <% if @project.features.any? %>
        <% @project.features.each do |feature| %>

        <div class="feature-section-wrapper">
          <div class="btn-group">
            <i class="material-icons feature-section-add" data-toggle="modal" data-target="#feature_<%= feature.id %>_story">add</i>
            <i class="material-icons feature-section-more dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz</i>
            <ul class="dropdown-menu">
              <li><a href="#">Delete Feature</a></li>
              <li><a href="#">Share Stories</a></li>
              <li><a href="#">Request Input</a></li>
            </ul>
          </div>
          <div class="feature-section" data-toggle="collapse" data-target="#feature_<%= feature.id %>" aria-expanded="false" aria-controls="feature_<%= feature.id %>">
            <i class="material-icons feature-section-caret">keyboard_arrow_up</i>
            <h6>
              <%= feature.name %>
            </h6>
            <hr>
          </div>
          
          <div class="collapse in" id="feature_<%= feature.id %>">
            <ul class="list-group">
            <% if feature.stories.any? %>
              <% feature.stories.each do |story| %>
                <li class="list-group-item">
                  <p>
                    <a data-toggle="collapse" href="#story_<%= story.id %>" aria-expanded="false" aria-controls="story_<%= story.id %>">
                      <% if story.payload.present? %>
                        <%= story.payload.html_safe %>
                      <% else %>
                        <b>When</b> situation<b>, I want</b> action <b>so that</b> expected outcome.
                      <% end %>
                    </a>
                  </p>
                  <div class="collapse" id="story_<%= story.id %>">
                    <div class="row">
                      <div class="col-sm-12 page">
                        <div id="add_persona_to_story_wrapper">
                          <div id="add_persona_to_story" data-toggle="modal" data-target="#add_personas_to_<%= story.id %>">
                            <i class="fa fa-plus"></i>
                          </div>
                          <% if story.personas.any? %>
                            <% story.personas.each do |persona| %>
                            <%= link_to remove_persona_path(story_id: story.id, persona_id: persona.id), method: :patch, remote: true do %>
                              <%= image_tag "clint.png", class: 'img-circle animated fadeInLeft', size: '44' %>
                            <% end %>
                          <% end %>
                          <% else %>
                            <label class="label-text">Select Personas</label>
                          <% end %>
                        </div>
                        <%= render partial: "add_persona_to_story", locals: { story: story } %>
                        <br/><br/>
                      </div>
                    </div>
                  </div>
                </li>

          

              <% end %>
            <% else %>
              <div class="">
                <p>No stories for this feature yet...</p>
              </div>
            <% end %>
            </ul>
          </div>

        </div>

        <%= render partial: "new_feature_story", locals: { feature: feature } %>

        <%= render partial: "new_feature", locals: { feature: feature } %>

        <% end %>
      <% end %>
      <br/>
      <div class="new-feature-section">
        <label><i class="material-icons">add</i>Add New Feature</label>
      </div>
      <br/>
      <br/>
      

      
    </div>
  </div>
</div>
