<div class="container-fluid secondary-nav">
    <div class="row">
      <div class="col-sm-6 text-left">
        <span class="back-button animated fadeInRight">
          <%= link_to projects_path do %>
            <%= material_icon.arrow_back.md_36 %>
          <% end %>
        </span>
        <h1 class="animated fadeIn">
          <%= @project.name %>&nbsp;
        </h1>
      </div>
      <div class="col-sm-6 text-right">
        <div class="btn-group">
          <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#export_project">
            Share
          </button>
          <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#add_collaborators">
            Add Collaborators
          </button>
          <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#new_feature">
            New Section
          </button>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid page">
    <div class="col-sm-12 sidebar">

      

      <% if @project.features.any? %>
        <% @project.features.each do |feature| %>

        <div class="feature-section-wrapper">
          <div class="btn-group">
            <i class="material-icons feature-section-add" data-toggle="modal" data-target="#feature_<%= feature.id %>_story">add</i>
            <i class="material-icons feature-section-more dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_horiz</i>
            <ul class="dropdown-menu">
              <!-- <li><a href="#">Delete</a></li> -->
              <li><a href="#" data-toggle="modal" data-target="#export_feature_<%= feature.id %>">Share</a></li>
            </ul>
          </div>
          
          <div class="feature-section" data-toggle="collapse" data-target="#feature_<%= feature.id %>" aria-expanded="false" aria-controls="feature_<%= feature.id %>">
            <i class="material-icons feature-section-caret">keyboard_arrow_up</i>
            <h6>
              <%= feature.name %>
            </h6>
            <hr>
          </div>
          
          <div class="collapse in" id="feature_<%= feature.id %>">
            <%= feature.problem_statement %>
            <% if feature.stories.any? %>
              <% feature.stories.each do |story| %>
                <ul class="list-group">
                  <li class="list-group-item">
                    <p>
                      <a href="#" data-toggle="modal" data-target="#story_modal_<%= story.id %>">
                        <% if story.payload.present? %>
                          <%= story.payload.html_safe %>
                        <% else %>
                          <b>When</b> situation<b>, I want</b> action <b>so that</b> expected outcome.
                        <% end %>
                      </a>
                    </p>
                  </li>
                </ul>
                <%= render partial: "projects/show_partials/story_modal", locals: { story: story, feature: feature } %>
              <% end %>
            <% else %>
              <%= render partial: "projects/show_partials/empty_stories", locals: { feature: feature } %>
            <% end %>
            
          </div>

        </div>

        <%= render partial: "new_feature_story", locals: { feature: feature } %>
        <%= render partial: "new_feature", locals: { feature: feature } %>
        <%= render partial: "projects/show_partials/export_feature_modal", locals: { feature: feature } %>
        <% end %>
      <% end %>
      <br/>
      <br/>
      <br/>
      <%= render partial: "projects/show_partials/add_collaborators_modal", locals: { project: @project } %>
      <%= render partial: "projects/show_partials/export_project_modal", locals: { project: @project } %>
      <%= render partial: "new_feature" %>
      
    </div>
</div>
