<%= form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    When <%= text_field :situation, class: "form-control", palceholder: "situation" %>,
  </div>
  <div class="form-field">
    I want to <%= text_field :action, class: "form-control", palceholder: "action" %>
  </div>
  <div class="form-field">
    so I can <%= text_field :expected_outcome, class: "form-control", palceholder: "expected_outcome" %>.
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
