<div class="container-fluid secondary-nav">
    <div class="row">
      <div class="col-sm-9 text-left">
        <span class="back-button animated fadeInRight">
          <%= link_to :back do %>
            <%= material_icon.arrow_back.md_36 %>
          <% end %>
        </span>
        <h1 class="animated fadeIn">
          <%= @story.feature.name %> 
        </h1>
      </div>
      <div class="col-sm-3 text-right">
        
      </div>
    </div>
</div>

<%= render "shared/alerts" %>

<div class="container-fluid page">
  <div class="row">
    <div class="col-sm-7">
      <blockquote>
        <h1><%= @story.payload.html_safe %></h1>

        <% if @story.personas.any? %>
          <footer>
            <% if @story.personas.size == 1 %>
              <%= @story.personas.sample.persona_name %> 
            <% elsif @story.personas.size == 2 %>
              <%= @story.personas.sample.persona_name %> &amp; 1 other
            <% elsif @story.personas.size > 1 %>
              <%= @story.personas.sample.persona_name %> &amp; <%= @story.personas.size-1 %> others
            <% end %>
          </footer>
        <% end %>

      </blockquote>
      <% @story.personas.each do |persona| %>
        <%= image_tag 'clint.png', class: 'img-circle', size: '44' %>
      <% end %>
    </div>
    <div class="col-sm-5"></div>
  </div>
</div>