<%= form_for(@persona) do |f| %>
  <% if @persona.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@persona.errors.count, "error") %> prohibited this persona from being saved:</h2>

      <ul>
      <% @persona.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  
  <h5>Persona Name</h5>
  <%= f.text_field :persona_name, class: 'form-control', placeholder: "Clint Eastwood" %><br/>
  <h5>Title / Role</h5>
  <%= f.text_field :role_title, class: 'form-control', placeholder: "Gun Slinger" %><br/>
  <h5>Quote</h5>
  <textarea class="form-control">Go ahead, make my day.</textarea><br/>
  <h5>Bio / Description</h5>
  <%= f.text_area :role_description, class: "form-control", value: 'Add persona bio / description here...' %><br/>

  <label>Age</label>
  <%= select_tag :age, options_for_select((1..101).to_a, 18) %>
  <label class="margin-left">Gender</label>
  <%= select_tag :age, options_for_select(["Male", "Female", "Other"]) %><br/><br/>
  <label>Location </label>
  <%= f.text_field :location, class: 'form-control', placeholder: "Chicago, Illinois" %><br/>
  
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary pull-right" %>
  </div>

<% end %>
