<!DOCTYPE html>
<html>

<%= render "shared/header" %>

<body class="application <%= params[:controller].gsub("/", " ") %> <%= params[:action]%>">
    <%= render "shared/home_nav" %>
  
    <%= yield %>
</body>
</html>
